* {
    padding: 0;
    margin: 0;
}

nav {
    margin-top: 30px;
}

body {
    background-color: #f1f1f1;
    background-color: rgb(241, 241, 241);
    max-width: 960px;
    margin: 0 auto;
    padding: 0 auto;
}

#pay_order {
    height: 200px;
    margin: 10px;
}

#pay_type {
    float: left;
    width: 45%;
    height: 200px;
}

#pay_info {
    float: right;
    width: 45%;
    height: 200px;
}

.clear {
    clear: both;
}

header {
    height: 100px;
    border: 2px solid #dfc9b2;
    margin-top: 5px;
}

section {
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #dfc9b2;
}

article table {
    width: 925px;
    margin: 10px auto;
    border: 2px solid #eadbc9;
    color: #8a7152;
}

footer {
    border: 2px solid #dfc9b2;
    height: 50px;
}