body {
    background-color: #f1f1f1;
    font-size: 14px;
    font-family: '宋体', sans-serif;
    font-style: normal;
}

a:link {
    color: #FF0000;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: #0000FF;
}

ul {
    list-style-type: circle;
}

ul li {
    display: inline-block;
}

